<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- APP -->
    {% block css%}{% endblock %}
</head>

<body>
     <!-- NAV -->
     <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="#" class="logo">
                    <i class="bx bx-movie-play bx-tada main-color"></i><span class="main-color">Jai</span> Movie
                </a>
                <div class="nav-search">
                    <input type="text" class="nav-searchbar" id="nav-searchbar" placeholder="Type Movie/Series etc..">
                    <i class='bx bx-search nav-searchicon'></i>
                </div>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Genre</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Plans</a></li>
                    {% if session['name'] == 'Guest' %}
                        <li>
                            <a href="/register" class="btn btn-hover">
                                <span>Register</span>
                            </a>
                        </li>
                        <li>
                            <a href="/signin" class="btn btn-hover">
                                <span>Sign In</span>
                            </a>
                        </li>
                    {% else %}
                    <li>
                        <a href="/profile" class="btn2">
                            <span>{{session['name']}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/signout" class="btn2">
                            <span>Sign Out</span>
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END NAV -->
    {% block content %}{% endblock %}

    <!-- SCRIPT -->
        <!-- JQUERY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- OwlCarousel -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- SCRIPT -->
        <!-- APP -->
        {% block app%}{% endblock %}
</body>