{% extends "base.html" %}
{% block title %}<title>Register</title>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="../static/register.css">
    <link rel="stylesheet" href="../static/grid.css">
{% endblock %}

{% block content %}

<div id="messages-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p class="flash-msg">{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


<div class="main-container">
    <p class="main-header">Stream the world of movies.</p>
    <p class="main-description">
        Discover a world of movies at your fingertips with our streaming website. 
        From Hollywood hits to indie favorites, we've got it all. Our platform offers a 
        diverse selection of movies that cater to all tastes and genres. Whether you're a 
        fan of drama, suspense, comedy, or anything in between, you'll find something to 
        love here. With easy-to-use navigation, high-quality streaming, and personalized 
        recommendations, our website is your ultimate destination for movie streaming. So 
        start exploring the world of movies today and let us take you on a cinematic journey 
        like no other.
    </p>
    <form action="#" method="POST" class="form-register">
        <p class="register-header">
            Enter Your Details to register and create your account.
        </p>
        <div class="name">
            <label for="name">Fullname:</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="username">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="email">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="password">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="buttons">
            <button type="submit" name="register" id="register-btn">Register</button>
            <button type="button" name="register" id="login-btn"><a href="/signin">Sign In</a></button>
        </div>
        
    </form>
</div>

<!-- FOOTER SECTION -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 col-sm-12">
                <div class="content">
                    <a href="#" class="logo">
                        <i class="bx bx-movie-play bx-tada main-color"></i><span class="main-color">Jai</span> Movie
                    </a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, saepe ab ipsam, autem,
                    debitis magnam sed a voluptate vero esse qui quae tempora rem porro modi explicabo libero
                    deleniti. Deserunt?
                </p>
                <div class="social-list">
                    <a href="#" class="social-item">
                        <i class="bx bxl-facebook"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-twitter"></i>
                    </a>
                    <a href="#" class="social-item">
                        <i class="bx bxl-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-8 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Jai</b></p>
                        </div>
                        <div class="footer-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Pricing Plans</a></li>
                            <li><a href="#">Contacts</a></li>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Browse</b></p>
                            <ul class="footer-menu">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">My profile</a></li>
                                <li><a href="#">Pricing Plans</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 col-md-6 col-sm-6">
                        <div class="content">
                            <p><b>Download App</b></p>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">
                                        <img src="../static/images/google-play.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../static/images/app-store.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END FOOTER SECTION -->
{% endblock %}

{% block app %}
<script src="../static/register.js"></script>
{% endblock %}